#container {
   width: 600px;
   height: 600px; 
   border: 2px solid black;
   display: flex;
   justify-content: space-evenly;

}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: auto;
    width: 100%;
    
}

.column {
    border: 1px dotted black;
    display: flex;
    justify-content: space-evenly;
    flex-basis: auto;
    height: 100%;
    
}

