body {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#newGrid {
    margin: 10px;
}

#container {
   width: 600px;
   height: 600px; 
   display: flex;
   justify-content: space-evenly;
   margin: 10px;
   

}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: auto;
    width: 100%;
    background-color: "white";
    
}

.column {
    border: 1px dotted black;
    display: flex;
    justify-content: space-evenly;
    flex-basis: auto;
    height: 100%;
    background-color: "white";
    
}

